#justArt{
  border: 1px solid blue;
}
#my-canvas{
  border: 1px solid grey;
}

body{
  text-align: center;
  /* background: #000; */
  margin-left: 10px;
  margin-top: 10px;
}

/*div game css*/
*{
  padding:0;
  margin: 0;
}
#game{
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 2em;
}
#character{
  width: 20px;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: red;
  position: relative;
  top: 150px;
}
.animate{  animation: jump 500ms;
}
#block{
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  border-radius: 5px;
  top: 130px;
  left: 480px;
  animation: toLeft 1s infinite linear;
}
@keyframes toLeft {
  from{left: 480px;}
    to{left: 0px;}
}
@keyframes jump {
  from{top:150px;}
  30% {top:100px;}
  70% {top:100px;}
  to{top:150px;}
}
